<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Formulario de login</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito.
                </h2>
            </div>
        </div>
        <nav class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

    <main>
    <form class="login-formulario" action="/login" method="POST">
        <label>
        <p>
            <input class="login-nombre" type="text" name="nombre"  placeholder="Nombre de usuario" minlength="4" required>
        </p>
        <p>
            <input class="login-contraseña" type="text" name="contraseña" placeholder="Contraseña" minlength="8" required>
        </p>
        <p class="login-button">
            <button type="submit"><a class="login-enviar" href="/">Enviar</a></button>
        </p>
    </label>
    </form>
</main>

<footer>
    <section class="info">
        <i class="fas fa-credit-card"></i>
        <h3> Pagá con tarjeta o en efectivo </h3>
        <p class="descripcion-footer"> Con mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos
            de pago.¡Y siempre es seguro! </p>
    </section>
    <section class="info">
        <i class="fas fa-gift"></i>
        <h3> Envío gratis desde $ 2.500 </h3>
        <p class="descripcion-footer"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos. </p>
    </section>
    <section class="info">
        <i class="fas fa-user-shield"></i>
        <h3> Seguridad, de principio a fin </h3>
        <p class="descripcion-footer"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estas siempre protegid@. </p>
    </section>
    <section class="info">
        <h6 class="descripcion-footer"> Copyright © 1999-2020 MercadoLiebre S.R.L. </h6>
    </section>
</footer>
</body>
</html>
