*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body {
    background: var(--grisClaro);
}
a {
    text-decoration: none;
    color: var(--negro)
}
ul {
    font-size: 16px;
    list-style: none;
    padding: 0;
}
img {
    width: 100%;
}
html {
    font-family: 'Roboto', sans-serif;
}
header {
    background: var(--amarillo);
    display: flex;
    flex-direction: column;
}
.logo-container {
    display: flex;
    flex-direction: column;
}
.menu-container {
    display: none;
}
.burger-container {
    display: flex;
    justify-content: center;
}
.logo-bar-container {
    display: flex;
}
.card-container {
    padding: 15px;
}
.logo {
    width: 50%;
    padding: 10px;
}
.search-button-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.search-container {
    display: flex;
    height: 25px;
    width: 90%;
}
.card-title {
    font-weight: 400;
    text-align: center;
}
.card-title i{
    margin-right: 10px;
}
input {
    width: 95%;
    border:none;
    background-color: var(--blanco);
    border-radius: 5px 0 0 5px;
}
button {
    width: 15%;
    padding: 1px;
    border: none;
    background-color: var(--blanco);
    border-radius: 0 5px 5px 0;
}
.burger-menu {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--azul);
}
.titulares {
    font-size: 24px;
}
.precios {
    font-size: 18px;
    width: 30%;
}
.descuentos {
    font-size:16px;
    color: var(--verde);
    width: 70%;
}
.descripciones {
    font-size: 16px;
}
.info {
    text-align: center;
}
.info i{
    size: 2em;
    margin-bottom: 10px;
    color: var(--azul)
}
h3 {
    color: var(--grisOscuro)
}
footer {
    background: var(--blanco)
}
.articulos {
    width: 90%;
    margin: auto;
    padding: 10px;
}
.info-producto {
    background: var(--blanco);
    border-bottom: 1px solid #ebebeb;
    padding: 15px;
}
.info-producto i{
    display: block;
    font-size: 16px;
    padding:5px;
    width:30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.ip {
    display: flex;
}